<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfvesh.tm.vehicle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
        	android:launchMode="singleTask"
            android:name=".VehiclestatusuploadActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation"
            android:screenOrientation="landscape">
            android:theme = "android:style/Theme.Dialog"

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
        	android:name=".ActionReceiver">
            <intent-filter>
                <action android:name="com.yfvesh.tm.action.vehicle"></action>
            </intent-filter>
        </receiver>
        
        <receiver
        	android:name=".NetworkStatusReceiver">
            <intent-filter>
            </intent-filter>
        </receiver>
        
        <activity
        	android:name=".PopupDialogAcitivity"
            android:theme="@style/PopupActivityDialog" >
        </activity>
    </application>

</manifest>